workflows/chatbot-flow.json
{
  "name": "Chat Message Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "43fc3f38-0bad-4632-aed4-2582c6abbf18",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41dea51b-611f-4025-bd98-4cabd3d73419",
              "name": "chat_id",
              "value": "48491bce-ced9-4e5c-9f51-34ef45e51a5b",
              "type": "string"
            },
            {
              "id": "5c752d07-aa95-4822-b8a6-e7a2dfbb4522",
              "name": "content",
              "value": "Hello bot!",
              "type": "string"
            },
            {
              "id": "53f4b92c-2899-4c43-9e33-9876a4b702a3",
              "name": "user_id",
              "value": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c8ee4834-6bf9-418b-be49-7f7c7176ec6d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nwtjynkwiqgbpxghbecl.graphql.ap-south-1.nhost.run/v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-hasura-admin-secret",
              "value": "=1tqw(7kEAaOYqr&BqO^$a:+4VJ_u*F41"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation ($chat_id: uuid!, $content: String!, $user_id: uuid!) { insert_messages_one(object: {chat_id: $chat_id, content: $content, sender: \\\"user\\\", user_id: $user_id}) { id chat_id content sender user_id created_at } }\",\n  \"variables\": {\n    \"chat_id\": \"{{$json.chat_id}}\",\n    \"content\": \"{{$json.content}}\",\n    \"user_id\": \"{{$json.user_id}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "59249451-3cbd-40c4-ab68-b53b801cc4a5",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7ace158-782c-4a77-a815-2a01fe90c6bb",
  "meta": {
    "instanceId": "69c932f21f4fbae848eaad242b5fe95b13dbef57d35f83061c4bfc1dd69e8671"
  },
  "id": "iZfFMwfZ76tPpZvA",
  "tags": []
}